/**
 * Creates a centered container using css calc property. Useful for using a full-width background with centered content. This does not work with old browers.
 *
 * @author Gabe Martin
 *
 * @param {Number} $width (900px) - maximum width of container
 * @param {Number} $padding (20px) - container padding if smaller than maximum width
 *
 */

@mixin center-div($width, $padding) {
  padding-left: calc(50% - #{$width}/2);
  padding-right: calc(50% - #{$width}/2);
  @media screen and (max-width: #{$width + $padding + $padding}) {
    padding-left: #{$padding};
    padding-right: #{$padding};
  }
}