/**
 * Sets the default, :hover, and :visited link colors.
 *
 * @author Gabe Martin
 *
 * @param {Color Value} $default (blue) - default link color
 * @param {Color Value} $hover (red) - hover color
 * @param {Color Value} $visite (purple) - visited color
 *
 */
@mixin link-color($default: "blue", $hover: "red", $visited: "purple") {
  color: #{$default};
  &:hover {
    color: #{$hover};
  }
  &:visited {
    color: #{$purple};
  }
}