/**
 * Shorthand for setting the position for absolute and fixed elements.
 *
 * @author Gabe Martin
 *
 * @param {Number} $top (0) - top position
 * @param {Number} $right (0) - right position
 * @param {Number} $bottom (0) - bottom position
 * @param {Number} $left (0) - left position
 *
 */
@mixin positions($top: 0, $right: 0, $bottom: 0, $left: 0) {
  top: #{$top};
  right: #{$right};
  bottom: #{$bottom};
  left: #{$left};
}