%h2= @check[:name]

.container-fluid
  .row
    .col-sm-12
      .chart-wrapper
        .chart-title
          %strong Average Response Time
        .chart-stage
          #grid-1-1.chart-container{:data => {:querytype => "average", :charttype => "line", :name => @check[:name], :groupby => "check.name", :timeframe => "last_48_hours", :interval => "hourly", :targetproperty => "request.duration", :chartoptions => "#{{legend: {show: false}}.to_json}"}}
  .row
    .col-sm-3.col-md-2
    .col-sm-12.col-md-8
      .chart-wrapper
        .chart-title
          %strong Last 10 Checks
        .chart-stage
          #checks-extraction.extraction-container{:data => {:name => @check[:name], timeframe: "this_30_minutes", :latest => 10}}
            .panel-group#accordion{:role => "tablist", :aria => {:multiselectable => "true"}}
    .col-sm-3.col-md-2
    / end of three
%hr
  %p.small.text-muted
    Built with ♥ by
    %a{:href => "https://keen.io"} Keen IO
