.container
  %form#new_check{:method => 'post', :action => '/check/create'}
    .row
      .col-md-2
      .col-md-8
        %h2 Create a New Check
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Name
          %input{:type => "text", :name => "name", :id => "name", :class => "form-control", :placeholder => "ie Data Center Keep Alive"}
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Url
          %input{:type => "text", :name => "url", :id => "url", :class => "form-control", :placeholder => "ie www.google.com/api"}
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Method
          %select{:name => "method", :id => "method", :class => "form-control"}
            %option{:value => "get"} get
            %option{:value => "post"} post
            %option{:value => "put"} put
            %option{:value => "delete"} delete
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Frequency (in seconds)
          %input{:type => "text", :name => "frequency", :id => "frequency", :class => "form-control", :placeholder => "60"}
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Http Username (optional)
          %input{:type => "text", :name => "http_username", :id => "http_username", :class => "form-control"}
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Http Password (optional)
          %input{:type => "text", :name => "http_password", :id => "http_password", :class => "form-control"}
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Custom Properties (json string)
          %textarea{:name => "custom_properties", :id => "custom_properties", :class => "form-control", :rows => 10, :cols => 30}
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %label Data (json string)
          %textarea{:name => "data", :id => "data", :class => "form-control", :rows => 10, :cols => 30}
      .col-md-2
    .row
      .col-md-2
      .col-md-8
        .input-group
          %input{:type => "submit"}
      .col-md-2
