@font-face {
    font-family: 'GothamBook';
    src: url('/fonts/GothamBook.eot');
    src: url('/fonts/GothamBook.eot') format('embedded-opentype'),
         url('/fonts/GothamBook.woff2') format('woff2'),
         url('/fonts/GothamBook.woff') format('woff'),
         url('/fonts/GothamBook.ttf') format('truetype'),
         url('/fonts/GothamBook.svg#GothamBook') format('svg');
}

body {
  padding-top: 115px;
  font-family: 'GothamBook', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GothamBook', sans-serif;
}

.btn {
  text-transform: uppercase;
}

.tab-pane {
	overflow: hidden;
}

.chart {
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}

.main {
  max-width: 2200px;
}

.heads-up {
  width: 500px;
  margin: 200px auto 0;
  text-align: center;
}

.link-container {
  margin: 30px 0 0 30px;
}

.update-on {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px 10px;
}

.status-icon {
  display: inline-block;
  color: hsl(120, 90%, 35%);
  font-size: 200%;
  text-align: center;
}

.status-icon.warning {
  color: hsl(60, 100%, 40%);
}

.status-icon.error {
  color: hsl(0, 90%, 50%);
}

.no-border {
  border: none;
}

.nested-row {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

h3 {
  font-size: 115%;
  margin-bottom: 15px;
}

h2, h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

a.block-link {
  color: inherit;
}

a.block-link:hover {
  text-decoration: none;
}

.Canvas
{
  font: 10pt Georgia;
  background-color:#ECECEC;
  color:#000000;
  border:solid 1px #CECECE;
}
.ObjectBrace
{
  color:#00AA00;
  font-weight:bold;
}
.ArrayBrace
{
  color:#0033FF;
  font-weight:bold;
}
.PropertyName
{
  color:#CC0000;
  font-weight:bold;
}
.String
{
  color:#007777;
}
.Number
{
  color:#AA00AA;
}
.Boolean
{
  color:#0000FF;
}
.Function
{
  color:#AA6633;
  text-decoration:italic;
}
.Null
{
  color:#0000FF;
}
.Comma
{
  color:#000000;
  font-weight:bold;
}

.json-header {
  font-size: 125%;
  padding-top: 15px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 0 0 1px 0;
}

.json-key {
  padding: 5px 15px 5px 5px;
  background-color: #F5F5F5;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 0 1px 1px 0;
  text-align: right;
}

.json-value {
  padding: 5px 5px 5px 15px;
  border-style: solid;
  border-color: #DDDDDD;
  border-width: 0 0 1px 0;
  text-align: left;
}

.navbar {
  height: 100px;
  overflow: visible;
  background-color: #00AFD7;
}

.navbar .container .row {
  padding-top: 20px;
  padding-bottom: 0;
  border: none;
}

.nav-pills li a {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.nav-pills li a:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon.icon-hamburger {
  background-image: url('hamburger-icon.png');
}

.icon.icon-pencil {
  background-image: url('pencil-icon.png');
}

.extraction-container {
  margin-top: 10px;
}

.status-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url('good-icon.png');
  background-repeat: no-repeat;
  vertical-align: middle;
}

.status-icon.warning {
  background-image: url('warning-icon.png');
}

.status-icon.error {
  background-image: url('error-icon.png');
}

#check-container h2 a {
  color: inherit;
}

#check-container h2 a:hover {
  color: inherit;
  text-decoration: none;
}

footer {
  padding: 15px;
  text-align: center;
}

.chart-container .c3-bar {
  stroke: rgb(90, 200, 95) !important;
  fill: rgb(90, 200, 95) !important;
}

.lead-chart {
  height: 320px;
}

.panel-heading .status-icon {
  margin-right: 10px;
}

a[data-toggle="collapse"] {
  color: inherit;
  display: block;
  text-decoration: none;
}

a[data-toggle="collapse"]:hover {
  color: inherit;
  text-decoration: none;
}

.compact h3, .compact .last-incident, .compact .details-btn, .compact .chart-container {
  display: none;
}

@media (max-width: 768px) {
  .no-mobile {
    display: none !important;
  }
  
  .nav-pills li a {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }

  .nav-pills li a:hover {
    background-color: #FFFFFF;
    color: #000000;
  }
  
  .navbar-right {
    float: right!important;
  }
}