body {
  min-width: 1280px;
}

.tab-pane {
	overflow: hidden;
}

.chart {
  float: left;
  margin-left: 20px;
  margin-top: 0px;
}

.logo {
  padding: 0px;
  display: block;
  width: 100%;
}

.logo img {
  margin: 46px 0;
}

.main {
  /*min-width: 1280px;*/
  max-width: 2200px;
}

.heads-up {
  width: 500px;
  margin: 200px auto 0;
  text-align: center;
}

.link-container {
  margin: 30px 0 0 30px;
}

.update-on {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 4px 10px;
}

.Canvas
{
  font: 10pt Georgia;
  background-color:#ECECEC;
  color:#000000;
  border:solid 1px #CECECE;
}
.ObjectBrace
{
  color:#00AA00;
  font-weight:bold;
}
.ArrayBrace
{
  color:#0033FF;
  font-weight:bold;
}
.PropertyName
{
  color:#CC0000;
  font-weight:bold;
}
.String
{
  color:#007777;
}
.Number
{
  color:#AA00AA;
}
.Boolean
{
  color:#0000FF;
}
.Function
{
  color:#AA6633;
  text-decoration:italic;
}
.Null
{
  color:#0000FF;
}
.Comma
{
  color:#000000;
  font-weight:bold;
}

.navbar-header .logo-container {
  line-height: 50px;
  padding-left: 5px;
  text-align: center;
}

.navbar-header .nav-logo {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1;
  vertical-align: middle;
}

p.help-block ul li {
  color: #f33;
}
