
    <footer>
      <figure><img src="/img/footer.png" alt="Footer"></figure>
    </footer>

    <div id="console"></div>
    <script type="text/javascript">
      go();
      window.addEventListener('resize', go);

      function go(){
      var w = window,
          d = document,
          e = d.documentElement,
          g = d.getElementsByTagName('body')[0],
          x = w.innerWidth || e.clientWidth || g.clientWidth,
          y = w.innerHeight|| e.clientHeight|| g.clientHeight;
        document.getElementById("console").innerHTML = "width: " + x + "px<br>height: " + y + "px";
      }
    </script>


    {% include scripts.html %}
  </body>
</html>