    <li>
      <div class="description_benefits_uses">
        <div class="description">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </div>
        <div class="benefits_and_uses">
          <h3>Key Benefits</h3>
          <ul class="benefits">
            {% for x in item.benefits %}
            <li>{{ x.benefit }},</li>
            {% endfor %}
          </ul>
          <h3>Key Uses</h3>
          <ul class="uses">
            {% for y in item.uses %}
            <li>{{ y.use }},</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="data">
        <div class="col one">
          <div class="epa_reg"><strong>EPA Reg. No.</strong> {{ item.epa_reg }}</div>
          <div class="active_ingr"><strong>Active Ingr.</strong> {{ item.active_ingr }}</div>
          <div class="formulation"><strong>Formulation</strong> {{ item.formulation }}</div>
        </div>
        <div class="col two">
          <div class="chem_family"><strong>Chem. Family</strong> {{ item.chem_family }}</div>
          <div class="hrac"><strong>Hrac No.</strong> {{ item.hrac }}</div>
          <div class="rei"><strong>REI</strong> {{ item.rei }}</div>
        </div>
        <div class="col three">
          <div class="package_size"><strong>Package Size</strong> {{ item.package_size }}</div>
        </div>
      </div>
    </li>